body {
  font-family: 'Gilroy', sans-serif;
  color: #0b132b;
  /* color: #0d1f2d; */
}

.container {
  margin: 0 auto;
  text-align: center;
}

.page1 {
  background-color: white;
}
.page2 {
  background-color: #c5c5c5;
}
.page3 {
  background-color: white;
}
.page4 {
  background-color: #c5c5c5;
}
.page5 {
  background-color: white;
}

.button-style {
  color: #f9f9f9;
  background-color: #f3d8c7;
  border: 1px solid #f3d8c7;
  border-radius: 5%;
  padding: 8px 15px;
  margin: 2%;
  width: 15%;
  text-decoration: none;
}

.button-style:hover {
  background-color: #c5c5c5;
  border: 1px solid #c5c5c5;
  color: #f3d8c7;
}


/* HOME */

.hidden {
  visibility: hidden;
  position: absolute;
  display: none;
}

/* PROJECTS */

.fp-tableCell {
  text-align: center;
}

.project-images {
  max-width: 50%;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #222;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #222 transparent transparent
}

/* SKILLS */

.devicon {
  font-size: 60px;
  margin: 4%;
  color: #f3d8c7;

}

/* CONTACT */

.icon {
  font-size: 30px;
  color: #f3d8c7;
  margin: 3%;
}
