body {
  font-family: 'Gilroy', sans-serif;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.page1 {
  background-color: white;
}
.page2 {
  background-color: grey;
}
.page3 {
  background-color: white;
}
.page4 {
  background-color: grey;
}
.page5 {
  background-color: white;
}

/* HOME */

.hidden {
  visibility: hidden;
  position: absolute;
  display: none;
}

/* PROJECTS */

.project-images {
  max-width: 50%;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #222;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #222 transparent transparent
}

/* SKILLS */

.devicon {
  font-size: 60px;
  margin: 4%;
}

/* CONTACT */

.icon {
  font-size: 30px;
  color: purple;
  margin: 3%;
}
