
.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #222;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #222 transparent transparent

}

.page1 {
  background-color: white;
}
.page2 {
  background-color: grey;
}
.page3 {
  background-color: white;
}
.page4 {
  background-color: grey;
}
.page5 {
  background-color: white;
}

.project-images {
  max-width: 50%;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.icon {
  font-size: 30px;
  color: purple;
  margin: 3%;
}
